<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div>
        <form action="/submittedInfo" method="post">
            {% csrf_token %}
            <p>
                Your Name:
                <input type="text" name="yourname" id="">
            </p>
            <p>
                Dojo Location:
                <select name="dojolocation" id="">
                    <option value="Bellevue">Bellevue</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Dallas">Dallas</option>
                </select>
            </p>
            <p>
                Favorite Language:
                <select name="favoritelanguage" id="">
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="MERN">MERN</option>
                    <option value="Java">Java</option>
                    <option value="C#">C#</option>
                </select>
            </p>
            <p>
                Comment (optional):
                <input type="text" name="comment" id="">
            </p>
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
</body>
</html>